.weather {
  width: 200px;
  border-radius: 0.5rem;
  box-shadow: 10px -2px 20px -2px rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  margin: 1.125rem auto 1.125rem auto;
}
.weather::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-description {
  font-weight: 400;
  font-size: 0, 875rem;
  line-height: 91.6%;
  margin: 0;
}

.weather-icon {
  width: 80px;
}

.temperature {
  font-weight: 600;
  font-size: 4rem;
  width: auto;
  letter-spacing: -2px;
  margin: 0.5rem 0;
}

.real-feel {
  width: 100%;
  display: flex;
  justify-content: center;
  .real-feel-label {
    padding-right: 0.5rem;
    font-size: 0.875rem;
  }
  .real-feel-value {
    font-size: 0.875rem;
  }
}

.details {
  width: 100%;
  padding: 0.5rem;
  .details-box {
    display: flex;
    justify-content: center;
  }
}

.parameter-row {
  display: flex;
  padding: 0.5rem;
  .parameter-value {
    text-align: right;
    font-weight: 300;
    font-size: 0.75rem;
    padding-left: 0.5rem;
  }
}
