.forecast-container {
  display: flex;
  flex-direction: column;
}

.forecast {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.daily {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 4%;
  text-align: center;
  @include devices(desktop) {
    text-align: unset;
  }
}

.daily-item {
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.25rem 0.25rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  @include devices(tablet) {
    padding: 0.25rem auto;
  }
}

.daily-item:first-child {
  border-left: unset;
}

.icon-small {
  width: 2.5rem;
  margin-bottom: 0.5rem;
}

.day {
  color: white;
  font-weight: 600;
  padding-bottom: 0.5rem;
  flex-basis: 1;
}

.description {
  margin-right: 1rem;
  text-align: right;
}

.min-max {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  flex-grow: 6;
}

.scale {
  height: 3rem;
  width: 0.75rem;
  border-radius: 1rem;
  background: linear-gradient(
    0deg,
    rgb(174, 208, 215) 0%,
    rgb(247, 247, 247) 100%
  );
  opacity: 0.5;
}

.scale-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 12px;
}

.humid {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  p {
    font-size: 0.75rem;
    font-weight: 300;
  }
}
