.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1rem;
  font-family: 'Vollkorn SC', serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 0 0 0.5rem;
}

.menu-btn {
  width: 28px;
  padding: 0.25rem 0.25rem 0 0;
  cursor: pointer;
  @include devices(desktop) {
    display: none;
  }
}
.select {
  flex-grow: 1;
}
