section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../images/sunset.jpg') no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  height: 96vh;
  padding: 1em;
  border-radius: 12px;
}

.current {
  flex-basis: 45%;
  display: grid;
  place-items: center;
  @include devices(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50%;
  }
}
