// Imports

@import './scss/abstracts/variables';
@import './scss/abstracts/mixins';
@import './scss/base/reset';
@import './scss/base/fonts';
@import './scss/components/current-weather';
@import './scss/components/current-details';
@import './scss/components/forecast';
@import './scss/components/menu';
@import './scss/layouts/navigation';
@import './scss/pages/home';

body {
  background-color: rgb(54, 54, 54);
  height: 100vh;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.container {
  margin: 1em 0.5em;
  height: calc(100% - 2em);
}
